# Assessment 1 (20 marks)

## Data Modeling (8 marks)

In this assessment you implement an algorithm that reads a csv data dump from Reddit and creates a database (relational or non-relational), taking into account the different entities and relationships holding between them. With this database in place, you are also asked to implement queries for generating reports about the dataset.

### Starter code for loading the csv file and connecting to database

In [ ]:
data_path = 'data_portfolio_21.csv'

Connect to the school's MySQL server using your credentials.

In [ ]:
import pymysql

password = ''
# Connect to the database
connection = pymysql.connect(host='csmysql.cs.cf.ac.uk',
                             user='',
                             password=password,
                             db='',
                             charset='utf8mb4')

---

### SQL and Python code for creating the tables [3 marks]

In [ ]:
# your code here

### Python logic for reading in the data [2 marks]

In [ ]:
# your code here

### SQL and Python code for populating the tables [3 marks]

In [ ]:
# your code here